apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: game-server-data
  namespace: game-server
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
